<div class="row mb-3">
  <div class="d-flex flex-row align-items-center">
    <h1>
      <%= @the_board.name %>
    </h1>
    <div class="ms-auto">
      <button
        class="btn btn-outline-success ms-auto"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#newBoardModal"
      >Add a new board</button>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="newBoardModal"
  tabindex="-1"
  aria-labelledby="newBoardModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex">
        <h1 class="modal-title fs-5" id="newBoardModalLabel">
          New Post
        </h1>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form action="/insert_post" method="post">
          <div class="mb-3">
            <label class="form-label" for="title_box">
              Title
            </label>

            <input class="form-control" type="text" id="title_box" name="query_title">
          </div>

          <div class="mb-3">
            <label class="form-label" for="body_box">
              Body
            </label>

            <textarea class="form-control" id="body_box" name="query_body" rows="3"></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label" for="expires_on_box">
              Expires on
            </label>

            <input
              class="form-control"
              type="date"
              id="expires_on_box"
              name="query_expires_on"
            >
          </div>

          <input
            type="hidden"
            id="board_id_box"
            name="query_board_id"
            value="<%= @the_board.id %>"
          >

          <div class="d-grid">
            <button class="btn btn-primary" type="submit">
              Add post
            </button>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs nav-fill mb-3">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="active-tab"
      data-bs-toggle="tab"
      data-bs-target="#active-tab-pane"
      type="button"
      role="tab"
      aria-controls="active-tab-pane"
      aria-sected="true"
    >Active posts</button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="expired-tab"
      data-bs-toggle="tab"
      data-bs-target="#expired-tab-pane"
      type="button"
      role="tab"
      aria-controls="expired-tab-pane"
      aria-selected="false"
    >Expired posts</button>
  </li>
</ul>

<div class="tab-content" id="activeTab" role="tablist">
  <div
    class="tab-pane fade show active"
    id="active-tab-pane"
    role="tabpanel"
    aria-labelledby="active-tab"
    tabindex="0"
  >
    <div class="row row-col-1 row-col-md-4 g-4">
      <% @active_posts.each do |a_post| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="card-header">
                <h6 class="my-1"><%= a_post.title %></h6>
                <p class="card-subtitle"><%= a_post.expires_on.strftime("%b %e, %Y") %></p>
              </div>
              <div class="card-body">
                <p><%= a_post.body %></p>
              </div>
              <div class="card-footer">
                <p><%= a_post.created_at.strftime("%b %e, %Y") %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div
    class="tab-pane fade"
    id="expired-tab-pane"
    role="tabpanel"
    aria-labelledby="expired-tab"
    tabindex="0"
  >
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered">
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th>Posted on</th>
              <th>Expired on</th>
            </tr>

            <% @expired_posts.each do |a_post| %>
              <tr>
                <td><%= a_post.title %></td>
                <td><%= a_post.body %></td>
                <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
                <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
